<div class="list-group">
  <% @comments.each do |comment| %>
    <%= link_to user_path(comment.user), class: "list-group-item" do %>
      <h4 class="list-group-item-heading"><%= comment.user.username %> <span><%= distance_of_time_in_words_to_now(comment.created_at) %> ago</span></h4>
      <p class="list-group-item-text" ><%= comment.content %></p>
    <% end %>
  <% end %>
</ul>
