<% @articles.each do |article| %>
  <h3><%= link_to article.title, article_path(article) %></h3>
  <% if can? :update, article %>
    <div class="btns">
      <%= link_to 'Edit', edit_article_path(article) %>
      <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: "Delete article?" } %>
    </div>
  <% end %>
<% end %>